<mat-toolbar>
    <a mat-button routerLink="/">Strava Super Search</a>
    <span class="spacer"></span>
    
        <a mat-icon-button routerLink="/settings"><mat-icon>settings</mat-icon></a>      
    
  </mat-toolbar>
  
<div fxLayout="row" fxLayoutAlign="space-around center">
    <div *ngIf='!authentication.currentAthlete'>
        <h1>Please connect to strava</h1>
        <button mat-button (click)='connectToStrava()'>Connect Me</button>
    </div>
    <div fxFlex="80">
        <router-outlet *ngIf='authentication.currentAthlete'></router-outlet>
    </div>
</div>